

.head {
    background: url("img_land/main_background.jpg") fixed;
    background-size: cover;

    width: 100%;
}

.head_right {
    background: rgba(72,88,188,.7);

    margin-right: 0 !important;

}


@media screen and (min-width: 400px) {
    .head {

        height: 850px;

    }

    .head_right {

        height: 850px;


    }
}

@media screen and (max-width: 400px) {
    .head {

        height: 950px;

    }

    .head_right {

        height: 950px;


    }
}


.head_header {
    color: white;
    text-align: center;
    margin-top: 80px;
    font-size: 35px;
    text-shadow: #6c757d 3px 3px 10px;
}

.head_advantage {
    display: flex;
    display: -webkit-flex;
    display: -webkit-box;
    margin-top: 30px;

}

.head_advantage_phone {
    color: white;
    text-align: center;
    display: block;
    font-size: 25px;
    transition: all ease .4s;
}

.head_advantage_phone:hover {
    color: #e23753;
    text-decoration: none;
}

.fa-phone {
    color: white;
}

@media screen and (max-width: 990px) {
    .head_advantage {
        margin-left: 10%;
    }

    .head_advantage_main_text {
        display: block;
        width: 85%;
        margin: 20px auto;
    }
}

@media screen and (min-width: 990px) {
    .head_advantage {
        margin-left: 20%;
    }

    .head_advantage_main_taxt {
        display: block;
        width: 85%;
        margin: 20px auto;
    }
}

.head_advantage_svg {
    width: 51px;
    display: block;
}

.head_advantage_text {
    color: white;
    font-size: 30px;
    margin-left: 20px;
    display: block;

}

.head_advantage_main_taxt {
    color: white;

    font-size: 18px;

}

.price {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin-top: 20px;
}

.price_old {
    text-decoration: line-through;
    color: #6c757d;

}

.price_old + sup {
    font-size: 30px;
    color: #6c757d;
}


.price_new {
    color: white;
    text-shadow: #6c757d 3px 3px 10px;

}

.price_new + sup {
    font-size: 30px;
    color: white;
    text-shadow: #6c757d 3px 3px 10px;
}

@media screen and (max-width: 640px) {
    .button {
        font-size: 15px;
    }


}

@media screen and (max-width: 420px) {
    .head {
        height: 950px;
    }

    .head_right {
        height: 950px;
    }
}

.consultation {
    text-align: center;
    color: white;
    font-weight: 700;
    text-shadow: #6c757d 3px 3px 10px;
}

.brecks_kinds_table {
    margin-top: 40px;
    margin-bottom: 40px;
    display: block;

    border-bottom: rgba(72,88,188,.4) 1px solid;
}

.brecks_kinds_photo {
    margin: 10px;
    width: 130px;
}

.grey_td {
    background: rgba(72,88,188,.7);
    color: white;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.transparent_td {
    color: transparent;
    background: rgba(72,88,188,.7);
}

.brecks_kinds_table thead {
    background: rgba(72,88,188,.7);
    color: white;
}

.table_red {
    color: orangered;
    font-size: 60px;
    font-weight: 700;
}

.table_green {
    color: forestgreen;
    font-size: 60px;
    font-weight: 700;
}

tbody tr:nth-child(2n) {
    background: rgba(72,88,188,.3);
}


td {
    text-align: center;
    border-right: rgba(72,88,188,.4) 1px solid;
}

@media screen and (max-width: 775px) {
    .brecks_kinds_table {
        display: none;
    }
}

.brecks_kinds_header {
    text-align: center;
    color: rgba(72,88,188,.8);
    margin-top: 30px;
}

.brecks_kinds_digit {
    text-align: center;
    font-size: 30px;
    color: white;
    background: rgba(72,88,188,.8);
    width: 45px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.brecks_kinds_text_span {
    color: rgba(72,88,188,.8);
    font-size: 30px;
    margin-left: 10px;
}

.brecks_kinds_text {
    color: #6c757d;
    font-size: 18px;
}

.about_doctor {
    padding-top: 10px;
    padding-bottom: 80px;
    width: 100%;
    background: linear-gradient( 135deg, white 50%,#8AA9D6 50%);
    background: -webkit-linear-gradient(-45deg, white 50%,#8AA9D6 50%);

}

.about_doctor_header {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #e23753;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
}

.about_doctor_description {
    text-align: right;
    font-size: 18px;

}

.about_doctor_profession {
    color: #e23753;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}

.about_doctor_li {
    color:white;
    font-size: 17px;
}

.about_doctor_photo {
    width: 90%;
}

.brecks_parts {
    background: url("img_land/background_stomatology_chair.jpg") fixed no-repeat;
    background-size: cover;
    padding-bottom: 30px;
    padding-top: 30px;
}

.brecks_parts_header {
    color: white;
    text-align: center;
    margin-bottom: 40px;

}

.brecks_parts_img {
    width: 51px;
}

.brecks_parts_figure {
    font-size: 30px;
    color: white;
    margin-left: 15px;
}

.brecks_parts_text {
    color: white;
    font-size: 18px;
    margin-top: 20px;
}

.question_form {

    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}

.form_background {
    background: #fff;
    padding: 10px;
}

.form_wrapper {
    overflow: hidden;

}

.form_item {

    background: #fff;
    border: 1px solid #005cbf;
    position: relative;
}

.form_item:before {
    border-right: 1px solid #005cbf;
    width: 50px;
    height: 30px;
    content: '';
    position: absolute;
    transform: rotate(50deg);
    -webkit-transform: rotate(50deg);
    left: -31px;
    top: -25px;
    background: #fff;
}

.form_item:after {
    border-left: 1px solid #005cbf;
    width: 50px;
    height: 30px;
    content: '';
    position: absolute;
    transform: rotate(50deg);
    -webkit-transform: rotate(50deg);
    right: -31px;
    bottom: -25px;
    background: #fff;
}

.form_item {
    padding: 40px
}


.question_form_input {
    display: block;
    width: 95%;
    border-top: 1px solid transparent;
    border-bottom: solid 1px #005cbf;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    margin-bottom: 20px;
    margin-left: 3%;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
}

.question_form_input:focus {

    border-top: 1px solid transparent;
    border-bottom: solid 1px #e23753;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}


.question_button {
    width: 95%;
    font-size: 18px;
    text-align: center;
    background: #e23753;
    padding: 10px 0 10px 10px;
    margin-top: 10px;
    margin-left: 3%;
    color: #fff;
    border: 1px solid #e23753;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: grey 3px 3px 10px;
    transition: all ease .4s;
    -webkit-transition: all ease .4s;
}

.question_button:hover {
    background: #1e90ff;
    border: 1px solid #1e90ff;
    color: white;
}

.question_form_img {
    width: 80px;
    display: block;
    margin: 40px auto;
}

.question_form_header {
    display: block;
    text-align: center;
    font-size: 30px;
    color: #005cbf;
    font-weight: 600;
}

.question_form_text {
    font-size: 20px;
    color: #555555;
    text-align: justify;
}


@keyframes question_form_img_yourAnimation{
    0%{
        transform: rotate(0deg);
    }
    2%{
        transform: rotate(-25deg);
    }
    5%{
        transform: rotate(25deg);
    }
    7%{
        transform: rotate(-25deg);
    }
    10%{
        transform: rotate(25deg);
    }
    15%{
        transform: rotate(0deg);
    }
}

.question_form_img{
    animation: question_form_img_yourAnimation 3s infinite 0s linear;
    -webkit-animation: question_form_img_yourAnimation 3s infinite 0s linear;
}


@-webkit-keyframes question_form_img_yourAnimation{
    0%{
        -webkit-transform: rotate(0deg);
    }
    2%{
        -webkit-transform: rotate(-25deg);
    }
    5%{
        -webkit-transform: rotate(25deg);
    }
    7%{
        -webkit-transform: rotate(-25deg);
    }
    10%{
        -webkit-transform: rotate(25deg);
    }
    15%{
        -webkit-transform: rotate(0deg);
    }
}

.brecks_feedback_video {
    margin-top: 20px;
}

.brecks_faq_img {
    width: 51px;
    margin-right: 20px;
}

.brecks_faq_question {
    color: #e23753;
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}

.brecks_faq_answer {
    padding: 20px;
    background: gainsboro;
    border-radius: 10px 0 10px 0;

}

.brecks_faq_block {
    margin-top: 20px;
}