

.head {
    background: url("img_land/main_background.jpg") fixed;
    background-size: cover;
    height: 800px;
    width: 100%;
}

.head_right {
    background: rgba(72,88,188,.7);
    height: 800px;
    margin-right: 0 !important;

}

.head_header {
    color: white;
    text-align: center;
    margin-top: 80px;
    font-size: 35px;
    text-shadow: #6c757d 3px 3px 10px;
}

.head_advantage {
    display: flex;
    display: -webkit-flex;
    display: -webkit-box;
    margin-top: 30px;

}

@media screen and (max-width: 990px) {
    .head_advantage {
        margin-left: 10%;
    }

    .head_advantage_main_taxt {
        display: block;
        width: 85%;
        margin: 20px auto;
    }
}

@media screen and (min-width: 990px) {
    .head_advantage {
        margin-left: 20%;
    }

    .head_advantage_main_taxt {
        display: block;
        width: 85%;
        margin: 20px auto;
    }
}

.head_advantage_svg {
    width: 51px;
    display: block;
}

.head_advantage_text {
    color: white;
    font-size: 30px;
    margin-left: 20px;
    display: block;

}

.head_advantage_main_taxt {
    color: white;

    font-size: 18px;

}

.price {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin-top: 20px;
}

.price_old {
    text-decoration: line-through;
    color: #6c757d;

}

.price_old + sup {
    font-size: 30px;
    color: #6c757d;
}


.price_new {
    color: white;
    text-shadow: #6c757d 3px 3px 10px;

}

.price_new + sup {
    font-size: 30px;
    color: white;
    text-shadow: #6c757d 3px 3px 10px;
}

@media screen and (max-width: 640px) {
    .button {
        font-size: 15px;
    }


}

@media screen and (max-width: 420px) {
    .head {
        height: 950px;
    }

    .head_right {
        height: 950px;
    }
}

.consultation {
    text-align: center;
    color: white;
    font-weight: 700;
    text-shadow: #6c757d 3px 3px 10px;
}

.brecks_kinds_table {
    margin-top: 40px;
    margin-bottom: 40px;
    display: block;

    border-bottom: rgba(72,88,188,.4) 1px solid;
}

.brecks_kinds_photo {
    margin: 10px;
    width: 130px;
}

.grey_td {
    background: rgba(72,88,188,.7);
    color: white;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.transparent_td {
    color: transparent;
    background: rgba(72,88,188,.7);
}

.brecks_kinds_table thead {
    background: rgba(72,88,188,.7);
    color: white;
}

.table_red {
    color: orangered;
    font-size: 60px;
    font-weight: 700;
}

.table_green {
    color: forestgreen;
    font-size: 60px;
    font-weight: 700;
}

tbody tr:nth-child(2n) {
    background: rgba(72,88,188,.3);
}


td {
    text-align: center;
    border-right: rgba(72,88,188,.4) 1px solid;
}

@media screen and (max-width: 775px) {
    .brecks_kinds_table {
        display: none;
    }
}

.brecks_kinds_header {
    text-align: center;
    color: rgba(72,88,188,.8);
    margin-top: 30px;
}

.brecks_kinds_digit {
    text-align: center;
    font-size: 30px;
    color: white;
    background: rgba(72,88,188,.8);
    width: 45px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.brecks_kinds_text_span {
    color: rgba(72,88,188,.8);
    font-size: 30px;
    margin-left: 10px;
}

.brecks_kinds_text {
    color: #6c757d;
    font-size: 18px;
}