body {
    font-family: 'Orbitron', sans-serif;
    background: white;
}


nav {
    padding-top: 10px;
    position: fixed;
    height: 60px;
    width: 100%;
    background: rgba(123,162,183, .7);
    box-sizing: border-box;
    z-index: 5;
}

h1 {
    margin-top: 40px;
    font-size: 25px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Orbitron', sans-serif;
}

header {
    background: #8a9eb9;
    box-shadow: 0 -150px 70px -120px #46839f inset,
    0 -220px 70px -120px #8bc4d2 inset,
    0 -280px 70px -120px #9cd1d0 inset;
    padding-bottom: 60px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: flex-end;
    margin-right: 60px;
}

.menu_li {
    list-style-type: none;
    margin-top: 10px;
    margin-right: 40px;
}

.menu_hrefs {
    color: white;
    font-size: 18px;
    font-family: Arial;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 8px;

}

.menu_hrefs:hover {
    text-decoration: none;
    color: white;
}

.main_picture, .main_picture_small {


    margin: 30px auto;
}

.main_words {
    padding-top: 90px;
}

.menu_hrefs::before {
    display: block;
    position: absolute;
    content: "";
    height: 2px;
    width: 0;
    background-color: lightslategrey;
    transition: width .5s ease-in-out, left .5s ease-in-out;
    left: 50%;
    bottom: 0;
}

.main-navigation .navbar-default .navbar-nav > li > a::after{
    display: block;
    position: absolute;
    content: "";
    height: 2px;
    width: 0;
    background-color: lightslategrey;
    transition: width .5s ease-in-out;
    left: 50%;
    bottom: 0;
}


.menu_hrefs:hover::before{
    width: 100%;
    left: 0;
}

.menu_hrefs:hover::after{
    width: 100%;
    right: 0;
}

.name {
    color: #372c6a;
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

.utp {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.ul_order {
    text-align: center;
    display: block;
}

.ul_order span {
    font-family: Arial;
    color: #372c6a;
    font-weight: 700 !important;

}

.fa-handshake-o, .fa-truck {
    font-size: 60px;
    color: white;
}

.price {
    text-align: center;

    margin-bottom: 30px;
    font-weight: bold;
    color: dimgrey;
    font-family: 'Orbitron', sans-serif;
}

.old_price {
    text-decoration: line-through;
}

.new_price {
    margin-left: 20px;
    color: white;
}

.main_button {
    font-size: 18px;
    padding: 10px;
    width: 200px;
    border: solid 2px #372c6a;
    border-radius: 10px;
    color: white;
    background: rgba(55,44,106,.3);
    display: block;
    transition: all .4s ease;
}

.buttons {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main_button:hover {
    border-radius: 30px;
    color: #372c6a;
    background: white;
}


.main_button_order {
    font-size: 18px;
    padding: 10px;
    width: 200px;
    border: solid 2px #372c6a;
    border-radius: 10px;
    color: white;
    background: rgba(55,44,106,.6);
    display: block;
    transition: all .4s ease;
}

.main_button_order:hover {
    border-radius: 30px;
    color: #372c6a;
    background: white;
}

.first {

    width: 100%;

}

@media screen and (min-width: 645px) {
    nav {
        display: block;
    }

    .burger {
        display: none;
    }

    .main_picture {
        display: block;
    }

    .main_picture_small {
        display: none;
    }

    .price {
        font-size: 60px;
    }

    .burger_menu {
        display: none;
    }


    header {
        animation: background 6s infinite alternate;
    }

    @keyframes background {

        0% {
            background: #8a9eb9;
            animation: background 6s infinite alternate;
            box-shadow: 0 -150px 70px -120px #46839f inset,
            0 -220px 70px -120px #8bc4d2 inset,
            0 -280px 70px -120px #9cd1d0 inset;
        }


        50% {
            background: #ab8e8d;
            box-shadow: 0 -150px 70px -120px #80706F inset,
            0 -220px 70px -120px #b4acac inset,
            0 -280px 70px -120px #b4acac inset;
        }

        100% {
            background: #8a9eb9;
            animation: background 6s infinite alternate;
            box-shadow: 0 -150px 70px -120px #46839f inset,
            0 -220px 70px -120px #8bc4d2 inset,
            0 -280px 70px -120px #9cd1d0 inset;
        }

    }

    .right_logo_text {
        text-align: left !important;
        margin-top: 70px;
    }

    .left_logo_text {
        text-align: right !important;
        margin-top: 70px;
    }

    .working {
        width: 350px;
    }

    .slider {
        width: 640px;
        padding-top: 320px; /*That helps bring the labels down*/
    }

    .mar1 {
        width: 100px
    }

}


.show {
    top: 0;
}

.b {
    position: fixed;
    top: -1000px;
    right: 0;
    z-index: 90;
}

@media screen and (max-width: 645px) {

    .burger_menu {
        display: block;
        position: fixed;
        height: 100%;
        right: 0;
        background: rgba(255,255,255,.9);
        z-index: 90;
        width: 100%;

        transition: 1s top ease;
    }

    .burger {
        display: block;
        position: fixed;
        top: -1000px;
        right: 40px;
        z-index: 100;
        transition: top 1s ease;
    }

    nav {
        display: none;
    }

    .main_button {
        margin-top: 15px;
    }

    .main_picture {
        display: none;
    }

    .main_picture_small {
        display: block;
    }

    .price {
        font-size: 40px;
    }

    .menu_li_burger {
        text-align: center;
        margin-top: 20px;
    }

    .menu_burger {
        margin-top: 150px;
    }

    .menu_hrefs_burger {
        color: #372c6a;
        font-size: 25px;
    }

    .working {
        width: 300px;
    }

    .slider {
        width: 320px;
        padding-top: 160px; /*That helps bring the labels down*/
    }



    .slider>img{
        width: 320px;
    }
    .mar1 {
        width: 50px
    }
}



.burger_5 {
    position: relative;
    
    left: calc(2*25px);
    width: calc(2*60px);
    height: calc(2*60px);
    cursor: pointer;

}

.line_one_5 {
    top: calc(2*20px);
    left: calc(2*10px);
    position: absolute;
    display: block;
    height: calc(2*2px);
    width: calc(2*30px);
    background: #372c6a;
    transition: all 1s ease;


}

.line_two_5 {
    top: calc(2*30px);
    left: calc(2*10px);
    position: absolute;
    display: block;
    height: calc(2*2px);
    width: calc(2*30px);
    background: #372c6a;
    transition: all 1s ease;
}

.line_four_5 {
    top: calc(2*30px);
    left: calc(2*10px);
    position: absolute;
    display: block;
    height: calc(2*2px);
    width: calc(2*30px);
    background: #372c6a;
    transition: all 1s ease;
}

.line_three_5 {
    top: calc(2*40px);
    left: calc(2*10px);
    position: absolute;
    display: block;
    height: calc(2*2px);
    width: calc(2*30px);
    background: #372c6a;
    transition: all 1s ease;
}

.rotate_one_5 {
    transform: rotate(-90deg);
}

.rotate_two_5 {

    transform: rotate(-495deg);
}

.rotate_four_5 {
    transform: rotate(-405deg);

}

.go_three_5 {
    transform: rotate(-90deg);
}


.rotate_up {

    width: 0;

}

.rotate_down {

    width: 0;
    left: 80px;
}

.first {
    margin-bottom: 50px;
    padding-bottom: 50px;
    box-sizing: content-box;
}


.first_img {
    display: block;
    margin: 0 auto;
}

.first_paragraph {
    color: #0B2349;
    margin-top: 50px;
}

.first h3 {
    text-align: center;

    background: linear-gradient(45deg, #0B2349 33%, #0D61BC 66%, #8AA9D6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    margin-top: 40px;
    font-weight: 700;
}

.first_second {
    margin-top: 40px;
}

.icons, .icon_text {

    text-transform: uppercase;
    background: linear-gradient(45deg, #0B2349 33%, #0D61BC 66%, #8AA9D6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
}

.icons {
    font-size: 36px;
}


.first_form {
    background: url("../img/room.jpg") fixed no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 60px;
}

.first_form img {
    display: block;
    margin: 30px auto;
}

.question {
    color: white;
    font-size: 30px;
    font-family: Arial;
    text-align: center;
}


.question_form {

    margin: 40px auto;
}
.question_input, .question_button {
    display: block;
    margin: 30px auto;
}

.question_input {
    width: 300px;
    height: 80px;
    background: rgba(0,0,0,.4);
    border: solid #0D61BC 2px;
    border-radius: 8px;
    color: white;
    text-transform: capitalize;
    padding-left: 20px;
    transition: all 1s ease;
}

.question_button {
    background: rgba(13,97,188,.5);
    width: 300px;
    height: 80px;
    color: white;
    transition: background 1s ease;
    border: solid white 2px;
    border-radius: 8px;
}

.question_button:hover {
    background: #0D61BC;

}

.question_input:focus {
    background: rgba(0,0,0,.8);
    border-radius: 0;

}

.question_text {
    width: 100%;
    color: white;
    font-size: 20px;
    font-family: 'IBM Plex Serif', serif;
    text-align: center;
}

.second {
    border-radius: 20% 0 20% 0;
    padding-top: 50px;
    padding-bottom: 50px;
    background: linear-gradient(45deg, #e9778c 33%, #0D61BC 66%, #8AA9D6);
    text-align: center;
    color: white;
}
.second span {
    font-size: 30px;
    font-weight: 700;
}

.working {
    display: block;

    margin: 0 auto;
}

#fruits{
    border:10px solid #000;
}




/*---------------------*/

/*Time for the CSS*/

.slider{
     /*Same as width of the large image*/
    position: relative;
    /*Instead of height we will use padding*/


    margin: 100px auto;

    /*Lets add a shadow*/
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}


/*Last thing remaining is to add transitions*/
.slider>img{
    position: absolute;
    left: 0; top: 0;
    transition: all 0.5s;
}

.slider input[name='slide_switch'] {
    display: none;
}

.slider label {
    /*Lets add some spacing for the thumbnails*/
    margin: 18px 0 0 18px;
    border: 3px solid #999;

    float: left;
    cursor: pointer;
    transition: all 0.5s;

    /*Default style = low opacity*/
    opacity: 0.6;
}

.slider label img{
    display: block;
}

/*Time to add the click effects*/
.slider input[name='slide_switch']:checked+label {
    border-color: #666;
    opacity: 1;
}
/*Clicking any thumbnail now should change its opacity(style)*/
/*Time to work on the main images*/
.slider input[name='slide_switch'] ~ img {
    opacity: 0;
    transform: scale(1.1);
}
/*That hides all main images at a 110% size
On click the images will be displayed at normal size to complete the effect
*/
.slider input[name='slide_switch']:checked+label+img {
    opacity: 1;
    transform: scale(1);
}
/*Clicking on any thumbnail now should activate the image related to it*/

/*We are done :)*/


.carousel_section {
    padding-bottom: 80px;
    padding-top: 80px;
    text-align: center;
}

.carousel_section span {
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(45deg, #0B2349 33%, #0D61BC 66%, #8AA9D6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    font-size: 25px;
}

.carousel_section p {
    color: #0B2349;

}

@media screen and (min-width: 840px) {

    .carousel_paragraph {

        text-align: right;
        padding-top: 90px;
    }
}

