body {
    background: #151d21;
    font-family: "Roboto";
}


.container {
    margin-top: 50px;
    margin-bottom: 50px;
}
.col-lg-4 {
    margin-top: 40px;

}
.input {
    display: block;
    background: #12191d;
    margin-top: 30px;

    height: 90px;
    border-bottom: solid #12191d 1px;
    border-top: solid #0e1417 1px;
    border-left: solid #0e1417 1px;
    border-right: solid #242c2f 2px;
    padding-left: 30px;
    box-sizing: border-box;
    color: #757575;
    box-shadow: 0 2px #242c2f;
    transition: border 1s ease;
    text-transform: uppercase;
}

.input:focus {
    border: solid #076eab 1px;


}

.input::placeholder {
    color: #757575;
    transition: color 1s ease;
    text-shadow: #12191d 1px 1px;
}

.input:focus::placeholder {
    color: #076eab;
}

.button, .main_button {
    margin-top: 30px;
    display: block;

    background: #142731;
    border: solid #076eab 2px;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: large;
    transition: background .5s ease;
}

.button {
    height: 80px;

}

.button:hover {
    background: #076eab;

}

.white {
    height: auto;
    background: white;
    padding-bottom: 40px;
}

.blue {

    height: auto;
    padding-bottom: 40px;
}


.blue_shadow {
    height: 30px;
    width: 200px;
    background: #0093eb;
    border-top: solid #00588c 2px;
    border-left: solid #00588c 2px;


    color: white;
    text-align: center;
    margin: 20px auto;
}

.blue_shadow span {
    display: block;
    margin-top: 5px;
}

.offer_text {

    margin: 0 auto;
    width: 250px;
    text-align: justify;
}

.svg {
    text-align: center;
    margin: 0 auto;
    color: #0093eb;
    font-size: 90px;
}

.polygon {
    position: absolute;
    top: 0;

}

.main {
    margin-top: 40px;
    color: yellow;

    font-weight: 700;
    text-align: center;
}

.main span {
    color: #0093eb;
}

h2 {
    font-size: 25px;
    color: white;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
}

h2 span {
    color: #0093eb;
}

.main_text {

    font-size: 20px;
    text-align: justify;
    color: #767676;
}




.main_button {
    text-decoration: none;
    height: 60px;
    width: 160px;
    padding-top: 10px;
    box-sizing: border-box;
    margin-right: 10px;
}

.main_button:hover {
    text-decoration: none;
    color: white;
    background-color: #0093eb;
}

.nav {

    position: fixed;
    display: flex;
    justify-content: space-around;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    background: rgba(20,39,49,.3);



}

.nav ul {
    display: block;

}

.menu_li {
    display: inline-block;
    list-style-type: none;
}

.menu_a {
    text-decoration: none;
    padding-right: 50px;
    padding-top: 20px;
    display: block;
    color: white;
    box-sizing: border-box;
    font-size: 20px;
}

.menu_a:hover {
    text-decoration: none;
    color: #0093eb;


}

.color {
    color: black;
}

@media screen and (min-width: 1000px) {

    .input {
        width: 500px;
    }

    .button {
        width: 500px;
    }

    .main {
        font-size: 90px;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }

    .nav_chr {
        display: none;
    }

}

@media screen and (max-width: 999px) {

.polygon {
    display: none;
}
    .input {
        width: 500px;
    }

    .button {
        width: 500px;
    }

    .main {
        font-size: 90px;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }

    .nav_chr {
        display: none;
    }

}


@media screen and (max-width: 600px) {

    .nav {
        display: none;
    }

    .nav_chr {
        display: block;
        position: fixed;
        left: 20px;
        top: 10px;
        color: #0093eb;
        font-size: 60px;
        z-index: 2;
    }


    .input {
        width: 400px;
    }

    .button {
        width: 400px;
    }

    .main {
        font-size: 60px;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }
}
@media screen and (min-width: 431px) {

    .buttons {
        display: flex;
        justify-content: space-between;
    }

    .nav_chr {
        display: block;
        position: fixed;
        right: 20px;
        top: 10px;
        color: #0093eb;
        font-size: 60px;
        z-index: 2;
    }

}

@media screen and (max-width: 430px) {


    .input {
        width: 300px;
    }

    .button {
        width: 300px;
    }

    .main {
        font-size: 50px;
    }

    .nav_chr {
        z-index: 2;
        display: block;
        position: fixed;
        right: 20px;
        top: 10px;
        color: #0093eb;
        font-size: 60px;
    }

}


.burger_menu {

    position: fixed;
    right:0;
    top: 0;
    height: 200px;
    width: 200px;
    background: white;
    display: none;
    z-index: 3;

}
