.burger {
    position: relative;
    top: calc(2*25px);
    left: calc(2*25px);
    width: calc(2*60px);
    height: calc(2*60px);
    cursor: pointer;

}

.line_one {
    top: calc(2*20px);
    left: calc(2*10px);
    position: absolute;
    display: block;
    height: calc(2*2px);
    width: calc(2*30px);
    background: #000;
    transition: all 1s ease;


}

.line_two {
    top: calc(2*30px);
    left: calc(2*10px);
    position: absolute;
    display: block;
    height: calc(2*2px);
    width: calc(2*30px);
    background: #000;
    transition: all 1s ease;
}

.line_three {
    top: calc(2*40px);
    left: calc(2*10px);
    position: absolute;
    display: block;
    height: calc(2*2px);
    width: calc(2*30px);
    background: #000;
    transition: all 1s ease;


}

.rotate_one {
    transform: rotate(135deg);

}

.rotate_two {
    transform: rotate(-135deg);
    top: calc(2*20px);
}

.go_three {
    width:0;
}