body {
    margin: 0;
    padding: 0;
}

section.zoom {
    width: 100%;

    position: relative;
    overflow: hidden;
    background: url("bg.jpg");
    background-size: cover;
}

@media screen and (min-width: 500px) {
    section.zoom {
        height: 1000px;
    }
    section.zoom .text {
        width: 90%;
        right:0;
    }
}

@media screen and (max-width: 500px) {
    section.zoom {
        height: 300px;
    }
    section.zoom .text {
        width: 70%;
        right:20%;
    }
}

section.zoom:before {
    content: '';
    position: absolute;
    height: 200px;
    width: 100%;
    bottom:0;
    z-index: 1000;
    background: linear-gradient(transparent,#fff);
}

section.zoom .layer1 {
    width: 100%;
    position: absolute;
    /*top: 0;*/
    left: 40%;
    transform: translateX(-50%);
}

section.zoom .layer2 {
    width: 100%;
    position: absolute;
    /*top: 0;*/
    left: 0;

}

section.zoom .text {

    position: absolute;
   /* top: 0;*/

    transform: translateY(50%);
}

section.content {
    padding-top: 100px;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    font-family: Consolas;
}

section.content h2 {
    margin: 0;
    padding: 0;
    font-size: 4em;
    text-align: center;
}

section.content p {
    font-size: 18px;
}